<!DOCTYPE html>
<head>
    <title>Register</title>
    <link rel="icon" href="{{url_for('static',filename='registor.jpg')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='fount.css')}}">
</head>
<head>
<style>
    body{
        margin: 0;
        height: 100vh;
  background-image: url("{{ url_for('static', filename='background.jpg') }}");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
</style>
</head>

<body>
    
    <div class="div2">
        <h class="h1">welcome</h>
    </div>
    <div class="div3">
        <a href="/search">
            <input type="search" placeholder="search" class="img2" >
        </a>
    </div>
    <div class="div1">
        <a href="/register">
            <img src="{{url_for('static',filename='registration.jpg')}}" class="img1"></img>

        </a>

    </div>
    <div class="div4">
        <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint necessitatibus unde doloremque sit assumenda animi maxime ducimus quod a architecto,
             obcaecati, quia dolor autem iste corporis amet earum commodi at! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta maxime commodi quae ad eum, quod mollitia expedita consequuntur sequi eligendi illum quas officiis laudantium, in odit pariatur odio necessitatibus quis!</p>
    </div>
    <div class="div5">
        <p >contact : +91-9876543210</p>
        <p> abcd@gmail.com</p>
        <p>chennai-india</p>
    </div>
    
</body>
</html>
